<main>
    <div>
        <form #f="ngForm" (ngSubmit)="add(f)">
            <div>
                <h1>Create Survey Questions</h1>
                <h1><a routerLink="/statistics" title="View Previous Questions">View Questions</a></h1>
            </div>
            <fieldset>
                <label for="question">Enter a survey question</label>
                <textarea name="question" id="question" required [(ngModel)]="question"></textarea>
            </fieldset>
            <fieldset id="buts">
                <button>Add to list</button>
                <button [disabled]="quizzes.length === 0 || isLoading" (click)="save()">Save</button>
            </fieldset>
        </form>
        <div *ngIf="quizzes.length > 0" id="questions">
            <article *ngFor="let q of quizzes">
                <p>{{q.question}}</p>
                <div>
                    <span (click)="edit(q)">Edit</span>
                    <span (click)="remove(q)">Remove</span>
                </div>
            </article>
        </div>
    </div>
</main>