<main>
    <div class="center">
        <h1><a routerLink="/create">Create Questions</a></h1>
    </div>
    <p *ngIf="message">{{message}}</p>
    <app-loader *ngIf="isLoading"></app-loader>
    <table *ngIf="quizzes">
        <thead>
            <tr>
                <th>Question</th>
                <th>Happy</th>
                <th>Satisfied</th>
                <th>Sad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let q of quizzes">
                <td (click)="edit(q)" class="q-actions" title="Click to edit/delete">{{q.question}}</td>
                <td>{{q.happy | number}}</td>
                <td>{{q.satisfied | number}}</td>
                <td>{{q.sad | number}}</td>
            </tr>
            <tr style="font-weight: bold;">
                <td></td>
                <td style="color: green;">{{totals?.happy | number}} ({{totals?.happy/ accoumulated | percent}})</td>
                <td style="color: blue;">{{totals?.satisfied | number}} ({{totals?.satisfied/ accoumulated | percent}})</td>
                <td style="color: red;">{{totals?.sad | number}} ({{totals?.sad/ accoumulated | percent}})</td>
            </tr>
        </tbody>
    </table>
</main>